In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('ODI_ball_by_ball_updated.csv')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\2536588849.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('ODI_ball_by_ball_updated.csv')

In [3]:
data = data[data['innings']==1]
data

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,64814,2002,2002-12-29,"McLean Park, Napier",1,0.1,New Zealand,India,SP Fleming,NJ Astle,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,64814,2002,2002-12-29,"McLean Park, Napier",1,0.2,New Zealand,India,NJ Astle,SP Fleming,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,64814,2002,2002-12-29,"McLean Park, Napier",1,0.3,New Zealand,India,NJ Astle,SP Fleming,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,64814,2002,2002-12-29,"McLean Park, Napier",1,0.4,New Zealand,India,NJ Astle,SP Fleming,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,64814,2002,2002-12-29,"McLean Park, Napier",1,0.5,New Zealand,India,SP Fleming,NJ Astle,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1424044,1377007,2023,2023-06-09,Sharjah Cricket Stadium,1,35.3,United Arab Emirates,West Indies,Ali Naseer,Junaid Siddique (2),...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1424045,1377007,2023,2023-06-09,Sharjah Cricket Stadium,1,35.4,United Arab Emirates,West Indies,Junaid Siddique (2),Ali Naseer,...,0,NaN,NaN,NaN,NaN,NaN,bowled,Junaid Siddique (2),NaN,NaN
1424046,1377007,2023,2023-06-09,Sharjah Cricket Stadium,1,35.5,United Arab Emirates,West Indies,Muhammad Jawadullah,Ali Naseer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1424047,1377007,2023,2023-06-09,Sharjah Cricket Stadium,1,35.6,United Arab Emirates,West Indies,Muhammad Jawadullah,Ali Naseer,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1424048,1377007,2023,2023-06-09,Sharjah Cricket Stadium,1,36.1,United Arab Emirates,West Indies,Ali Naseer,Muhammad Jawadullah,...,0,NaN,NaN,NaN,NaN,NaN,caught,Ali Naseer,NaN,NaN

In [4]:
data.drop(columns=['season',
                  'striker',
                  'start_date',
                  'non_striker',
                    'innings'
                  ], inplace=True)

In [5]:
data.drop(columns=['bowler'], inplace=True)

In [6]:
data.isnull().sum()

match_id                       0
venue                          0
ball                           0
batting_team                   0
bowling_team                   0
runs_off_bat                   0
extras                         0
wides                     756240
noballs                   771423
byes                      773130
legbyes                   766796
penalty                   774360
wicket_type               753152
player_dismissed          753152
other_wicket_type         774369
other_player_dismissed    774369
dtype: int64

In [7]:
data

,match_id,venue,ball,batting_team,bowling_team,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,64814,"McLean Park, Napier",0.1,New Zealand,India,0,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,64814,"McLean Park, Napier",0.2,New Zealand,India,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,64814,"McLean Park, Napier",0.3,New Zealand,India,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,64814,"McLean Park, Napier",0.4,New Zealand,India,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,64814,"McLean Park, Napier",0.5,New Zealand,India,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1424044,1377007,Sharjah Cricket Stadium,35.3,United Arab Emirates,West Indies,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1424045,1377007,Sharjah Cricket Stadium,35.4,United Arab Emirates,West Indies,0,0,NaN,NaN,NaN,NaN,NaN,bowled,Junaid Siddique (2),NaN,NaN
1424046,1377007,Sharjah Cricket Stadium,35.5,United Arab Emirates,West Indies,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1424047,1377007,Sharjah Cricket Stadium,35.6,United Arab Emirates,West Indies,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1424048,1377007,Sharjah Cricket Stadium,36.1,United Arab Emirates,West Indies,0,0,NaN,NaN,NaN,NaN,NaN,caught,Ali Naseer,NaN,NaN

In [8]:
data.fillna(0, inplace=True)

In [9]:
data['runs'] = data['runs_off_bat'] + data['extras'] + data['wides'] + data['noballs'] + data['byes'] + data['legbyes'] + data['penalty']

In [10]:
data

,match_id,venue,ball,batting_team,bowling_team,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,runs
0,64814,"McLean Park, Napier",0.1,New Zealand,India,0,1,0.0,0.0,0.0,1.0,0.0,0,0,0.0,0.0,2.0
1,64814,"McLean Park, Napier",0.2,New Zealand,India,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0
2,64814,"McLean Park, Napier",0.3,New Zealand,India,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0
3,64814,"McLean Park, Napier",0.4,New Zealand,India,1,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,1.0
4,64814,"McLean Park, Napier",0.5,New Zealand,India,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1424044,1377007,Sharjah Cricket Stadium,35.3,United Arab Emirates,West Indies,1,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,1.0
1424045,1377007,Sharjah Cricket Stadium,35.4,United Arab Emirates,West Indies,0,0,0.0,0.0,0.0,0.0,0.0,bowled,Junaid Siddique (2),0.0,0.0,0.0
1424046,1377007,Sharjah Cricket Stadium,35.5,United Arab Emirates,West Indies,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0
1424047,1377007,Sharjah Cricket Stadium,35.6,United Arab Emirates,West Indies,0,0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0
1424048,1377007,Sharjah Cricket Stadium,36.1,United Arab Emirates,West Indies,0,0,0.0,0.0,0.0,0.0,0.0,caught,Ali Naseer,0.0,0.0,0.0

In [11]:
data.drop(columns=['extras',
                  'wides',
                  'runs_off_bat',
                  'noballs',
                  'byes',
                  'legbyes',
                  'penalty'
                  ], inplace=True)

In [12]:
data

,match_id,venue,ball,batting_team,bowling_team,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,runs
0,64814,"McLean Park, Napier",0.1,New Zealand,India,0,0,0.0,0.0,2.0
1,64814,"McLean Park, Napier",0.2,New Zealand,India,0,0,0.0,0.0,0.0
2,64814,"McLean Park, Napier",0.3,New Zealand,India,0,0,0.0,0.0,0.0
3,64814,"McLean Park, Napier",0.4,New Zealand,India,0,0,0.0,0.0,1.0
4,64814,"McLean Park, Napier",0.5,New Zealand,India,0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1424044,1377007,Sharjah Cricket Stadium,35.3,United Arab Emirates,West Indies,0,0,0.0,0.0,1.0
1424045,1377007,Sharjah Cricket Stadium,35.4,United Arab Emirates,West Indies,bowled,Junaid Siddique (2),0.0,0.0,0.0
1424046,1377007,Sharjah Cricket Stadium,35.5,United Arab Emirates,West Indies,0,0,0.0,0.0,0.0
1424047,1377007,Sharjah Cricket Stadium,35.6,United Arab Emirates,West Indies,0,0,0.0,0.0,0.0
1424048,1377007,Sharjah Cricket Stadium,36.1,United Arab Emirates,West Indies,caught,Ali Naseer,0.0,0.0,0.0

In [13]:
data['batting_team'].unique()

array(['New Zealand', 'India', 'Sri Lanka', 'Australia', 'England',
       'West Indies', 'Zimbabwe', 'Canada', 'Kenya', 'Netherlands',
       'Pakistan', 'South Africa', 'Bangladesh',
       'United States of America', 'Africa XI', 'Bermuda', 'Scotland',
       'Ireland', 'Asia XI', 'Afghanistan', 'Hong Kong',
       'United Arab Emirates', 'Papua New Guinea', 'Nepal', 'Namibia',
       'Oman', 'Thailand', 'Jersey'], dtype=object)

In [14]:
teams = [
    'New Zealand',
    'India',
    'Sri Lanka', 
    'Australia', 
    'England',
    'West Indies', 
    'South Africa',
    'Pakistan',
    'Bangladesh',
    'Afghanistan'
]

In [15]:
data = data[data['batting_team'].isin(teams)]
data = data[data['bowling_team'].isin(teams)]

In [16]:
data

,match_id,venue,ball,batting_team,bowling_team,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,runs
0,64814,"McLean Park, Napier",0.1,New Zealand,India,0,0,0.0,0.0,2.0
1,64814,"McLean Park, Napier",0.2,New Zealand,India,0,0,0.0,0.0,0.0
2,64814,"McLean Park, Napier",0.3,New Zealand,India,0,0,0.0,0.0,0.0
3,64814,"McLean Park, Napier",0.4,New Zealand,India,0,0,0.0,0.0,1.0
4,64814,"McLean Park, Napier",0.5,New Zealand,India,0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1423723,1377010,Mahinda Rajapaksa International Cricket Stadiu...,21.4,Afghanistan,Sri Lanka,0,0,0.0,0.0,6.0
1423724,1377010,Mahinda Rajapaksa International Cricket Stadiu...,21.5,Afghanistan,Sri Lanka,0,0,0.0,0.0,0.0
1423725,1377010,Mahinda Rajapaksa International Cricket Stadiu...,21.6,Afghanistan,Sri Lanka,0,0,0.0,0.0,2.0
1423726,1377010,Mahinda Rajapaksa International Cricket Stadiu...,22.1,Afghanistan,Sri Lanka,0,0,0.0,0.0,0.0
1423727,1377010,Mahinda Rajapaksa International Cricket Stadiu...,22.2,Afghanistan,Sri Lanka,lbw,Fazalhaq Farooqi,0.0,0.0,0.0

In [17]:
eligible_venue = data['venue'].value_counts()[data['venue'].value_counts() > 3000].index.tolist()

In [18]:
data = data[data['venue'].isin(eligible_venue)]

In [19]:
data

,match_id,venue,ball,batting_team,bowling_team,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,runs
1992,65634,Sydney Cricket Ground,0.1,Sri Lanka,Australia,0,0,0.0,0.0,3.0
1993,65634,Sydney Cricket Ground,0.2,Sri Lanka,Australia,0,0,0.0,0.0,2.0
1994,65634,Sydney Cricket Ground,0.3,Sri Lanka,Australia,0,0,0.0,0.0,0.0
1995,65634,Sydney Cricket Ground,0.4,Sri Lanka,Australia,0,0,0.0,0.0,0.0
1996,65634,Sydney Cricket Ground,0.5,Sri Lanka,Australia,0,0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...
1419431,1339623,"National Stadium, Karachi",48.5,New Zealand,Pakistan,0,0,0.0,0.0,1.0
1419432,1339623,"National Stadium, Karachi",48.6,New Zealand,Pakistan,0,0,0.0,0.0,1.0
1419433,1339623,"National Stadium, Karachi",49.1,New Zealand,Pakistan,caught,R Ravindra,0.0,0.0,0.0
1419434,1339623,"National Stadium, Karachi",49.2,New Zealand,Pakistan,0,0,0.0,0.0,2.0
1419435,1339623,"National Stadium, Karachi",49.3,New Zealand,Pakistan,run out,IS Sodhi,0.0,0.0,0.0

In [20]:
data['cur_score'] = data.groupby('match_id').cumsum()['runs']

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\2043536160.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data['cur_score'] = data.groupby('match_id').cumsum()['runs']
C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\2043536160.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['cur_score'] = data.groupby('match_id').cumsum()['runs']

In [21]:
data

,match_id,venue,ball,batting_team,bowling_team,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,runs,cur_score
1992,65634,Sydney Cricket Ground,0.1,Sri Lanka,Australia,0,0,0.0,0.0,3.0,3.0
1993,65634,Sydney Cricket Ground,0.2,Sri Lanka,Australia,0,0,0.0,0.0,2.0,5.0
1994,65634,Sydney Cricket Ground,0.3,Sri Lanka,Australia,0,0,0.0,0.0,0.0,5.0
1995,65634,Sydney Cricket Ground,0.4,Sri Lanka,Australia,0,0,0.0,0.0,0.0,5.0
1996,65634,Sydney Cricket Ground,0.5,Sri Lanka,Australia,0,0,0.0,0.0,2.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...
1419431,1339623,"National Stadium, Karachi",48.5,New Zealand,Pakistan,0,0,0.0,0.0,1.0,301.0
1419432,1339623,"National Stadium, Karachi",48.6,New Zealand,Pakistan,0,0,0.0,0.0,1.0,302.0
1419433,1339623,"National Stadium, Karachi",49.1,New Zealand,Pakistan,caught,R Ravindra,0.0,0.0,0.0,302.0
1419434,1339623,"National Stadium, Karachi",49.2,New Zealand,Pakistan,0,0,0.0,0.0,2.0,304.0
1419435,1339623,"National Stadium, Karachi",49.3,New Zealand,Pakistan,run out,IS Sodhi,0.0,0.0,0.0,304.0

In [22]:
data.drop(columns=['player_dismissed',
                  'other_player_dismissed'
                  ], inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\794839729.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['player_dismissed',

In [23]:
data

,match_id,venue,ball,batting_team,bowling_team,wicket_type,other_wicket_type,runs,cur_score
1992,65634,Sydney Cricket Ground,0.1,Sri Lanka,Australia,0,0.0,3.0,3.0
1993,65634,Sydney Cricket Ground,0.2,Sri Lanka,Australia,0,0.0,2.0,5.0
1994,65634,Sydney Cricket Ground,0.3,Sri Lanka,Australia,0,0.0,0.0,5.0
1995,65634,Sydney Cricket Ground,0.4,Sri Lanka,Australia,0,0.0,0.0,5.0
1996,65634,Sydney Cricket Ground,0.5,Sri Lanka,Australia,0,0.0,2.0,7.0
...,...,...,...,...,...,...,...,...,...
1419431,1339623,"National Stadium, Karachi",48.5,New Zealand,Pakistan,0,0.0,1.0,301.0
1419432,1339623,"National Stadium, Karachi",48.6,New Zealand,Pakistan,0,0.0,1.0,302.0
1419433,1339623,"National Stadium, Karachi",49.1,New Zealand,Pakistan,caught,0.0,0.0,302.0
1419434,1339623,"National Stadium, Karachi",49.2,New Zealand,Pakistan,0,0.0,2.0,304.0
1419435,1339623,"National Stadium, Karachi",49.3,New Zealand,Pakistan,run out,0.0,0.0,304.0

In [24]:
data['over'] = data['ball'].apply(lambda x:str(x).split(".")[0])
data['ball_no'] = data['ball'].apply(lambda x:str(x).split(".")[1])
data

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\4242952666.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['over'] = data['ball'].apply(lambda x:str(x).split(".")[0])
C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\4242952666.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['ball_no'] = data['ball'].apply(lambda x:str(x).split(".")[1])

,match_id,venue,ball,batting_team,bowling_team,wicket_type,other_wicket_type,runs,cur_score,over,ball_no
1992,65634,Sydney Cricket Ground,0.1,Sri Lanka,Australia,0,0.0,3.0,3.0,0,1
1993,65634,Sydney Cricket Ground,0.2,Sri Lanka,Australia,0,0.0,2.0,5.0,0,2
1994,65634,Sydney Cricket Ground,0.3,Sri Lanka,Australia,0,0.0,0.0,5.0,0,3
1995,65634,Sydney Cricket Ground,0.4,Sri Lanka,Australia,0,0.0,0.0,5.0,0,4
1996,65634,Sydney Cricket Ground,0.5,Sri Lanka,Australia,0,0.0,2.0,7.0,0,5
...,...,...,...,...,...,...,...,...,...,...,...
1419431,1339623,"National Stadium, Karachi",48.5,New Zealand,Pakistan,0,0.0,1.0,301.0,48,5
1419432,1339623,"National Stadium, Karachi",48.6,New Zealand,Pakistan,0,0.0,1.0,302.0,48,6
1419433,1339623,"National Stadium, Karachi",49.1,New Zealand,Pakistan,caught,0.0,0.0,302.0,49,1
1419434,1339623,"National Stadium, Karachi",49.2,New Zealand,Pakistan,0,0.0,2.0,304.0,49,2
1419435,1339623,"National Stadium, Karachi",49.3,New Zealand,Pakistan,run out,0.0,0.0,304.0,49,3

In [25]:
data['balls_bowled'] = (data['over'].astype('int')*6) + data['ball_no'].astype('int')
data

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\1275976479.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['balls_bowled'] = (data['over'].astype('int')*6) + data['ball_no'].astype('int')

,match_id,venue,ball,batting_team,bowling_team,wicket_type,other_wicket_type,runs,cur_score,over,ball_no,balls_bowled
1992,65634,Sydney Cricket Ground,0.1,Sri Lanka,Australia,0,0.0,3.0,3.0,0,1,1
1993,65634,Sydney Cricket Ground,0.2,Sri Lanka,Australia,0,0.0,2.0,5.0,0,2,2
1994,65634,Sydney Cricket Ground,0.3,Sri Lanka,Australia,0,0.0,0.0,5.0,0,3,3
1995,65634,Sydney Cricket Ground,0.4,Sri Lanka,Australia,0,0.0,0.0,5.0,0,4,4
1996,65634,Sydney Cricket Ground,0.5,Sri Lanka,Australia,0,0.0,2.0,7.0,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1419431,1339623,"National Stadium, Karachi",48.5,New Zealand,Pakistan,0,0.0,1.0,301.0,48,5,293
1419432,1339623,"National Stadium, Karachi",48.6,New Zealand,Pakistan,0,0.0,1.0,302.0,48,6,294
1419433,1339623,"National Stadium, Karachi",49.1,New Zealand,Pakistan,caught,0.0,0.0,302.0,49,1,295
1419434,1339623,"National Stadium, Karachi",49.2,New Zealand,Pakistan,0,0.0,2.0,304.0,49,2,296
1419435,1339623,"National Stadium, Karachi",49.3,New Zealand,Pakistan,run out,0.0,0.0,304.0,49,3,297

In [26]:
data['balls_left'] = 300 - data['balls_bowled']
data['balls_left'] = data['balls_left'].apply(lambda x:0 if x<0 else x)
data

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\1518490749.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['balls_left'] = 300 - data['balls_bowled']
C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\1518490749.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['balls_left'] = data['balls_left'].apply(lambda x:0 if x<0 else x)

,match_id,venue,ball,batting_team,bowling_team,wicket_type,other_wicket_type,runs,cur_score,over,ball_no,balls_bowled,balls_left
1992,65634,Sydney Cricket Ground,0.1,Sri Lanka,Australia,0,0.0,3.0,3.0,0,1,1,299
1993,65634,Sydney Cricket Ground,0.2,Sri Lanka,Australia,0,0.0,2.0,5.0,0,2,2,298
1994,65634,Sydney Cricket Ground,0.3,Sri Lanka,Australia,0,0.0,0.0,5.0,0,3,3,297
1995,65634,Sydney Cricket Ground,0.4,Sri Lanka,Australia,0,0.0,0.0,5.0,0,4,4,296
1996,65634,Sydney Cricket Ground,0.5,Sri Lanka,Australia,0,0.0,2.0,7.0,0,5,5,295
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1419431,1339623,"National Stadium, Karachi",48.5,New Zealand,Pakistan,0,0.0,1.0,301.0,48,5,293,7
1419432,1339623,"National Stadium, Karachi",48.6,New Zealand,Pakistan,0,0.0,1.0,302.0,48,6,294,6
1419433,1339623,"National Stadium, Karachi",49.1,New Zealand,Pakistan,caught,0.0,0.0,302.0,49,1,295,5
1419434,1339623,"National Stadium, Karachi",49.2,New Zealand,Pakistan,0,0.0,2.0,304.0,49,2,296,4
1419435,1339623,"National Stadium, Karachi",49.3,New Zealand,Pakistan,run out,0.0,0.0,304.0,49,3,297,3

In [27]:
data['wicket_type'] = data['wicket_type'].apply(lambda x:0 if x==0 else 1)
data['other_wicket_type'] = data['other_wicket_type'].apply(lambda x:0 if x==0 else 1)
data['wicket'] = data['other_wicket_type'] + data['wicket_type']
data

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\3644320693.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['wicket_type'] = data['wicket_type'].apply(lambda x:0 if x==0 else 1)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\3644320693.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['other_wicket_type'] = data['other_wicket_type'].apply(lambda x:0 if x==0 else 1)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\3644320693.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['wicket'] = data['other_wicket_type'] + data['wicket_type']

,match_id,venue,ball,batting_team,bowling_team,wicket_type,other_wicket_type,runs,cur_score,over,ball_no,balls_bowled,balls_left,wicket
1992,65634,Sydney Cricket Ground,0.1,Sri Lanka,Australia,0,0,3.0,3.0,0,1,1,299,0
1993,65634,Sydney Cricket Ground,0.2,Sri Lanka,Australia,0,0,2.0,5.0,0,2,2,298,0
1994,65634,Sydney Cricket Ground,0.3,Sri Lanka,Australia,0,0,0.0,5.0,0,3,3,297,0
1995,65634,Sydney Cricket Ground,0.4,Sri Lanka,Australia,0,0,0.0,5.0,0,4,4,296,0
1996,65634,Sydney Cricket Ground,0.5,Sri Lanka,Australia,0,0,2.0,7.0,0,5,5,295,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1419431,1339623,"National Stadium, Karachi",48.5,New Zealand,Pakistan,0,0,1.0,301.0,48,5,293,7,0
1419432,1339623,"National Stadium, Karachi",48.6,New Zealand,Pakistan,0,0,1.0,302.0,48,6,294,6,0
1419433,1339623,"National Stadium, Karachi",49.1,New Zealand,Pakistan,1,0,0.0,302.0,49,1,295,5,1
1419434,1339623,"National Stadium, Karachi",49.2,New Zealand,Pakistan,0,0,2.0,304.0,49,2,296,4,0
1419435,1339623,"National Stadium, Karachi",49.3,New Zealand,Pakistan,1,0,0.0,304.0,49,3,297,3,1

In [28]:
data['wickets_left'] = 10 - data.groupby('match_id').cumsum()['wicket']
data

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\1799597720.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data['wickets_left'] = 10 - data.groupby('match_id').cumsum()['wicket']
C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\1799597720.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['wickets_left'] = 10 - data.groupby('match_id').cumsum()['wicket']

,match_id,venue,ball,batting_team,bowling_team,wicket_type,other_wicket_type,runs,cur_score,over,ball_no,balls_bowled,balls_left,wicket,wickets_left
1992,65634,Sydney Cricket Ground,0.1,Sri Lanka,Australia,0,0,3.0,3.0,0,1,1,299,0,10
1993,65634,Sydney Cricket Ground,0.2,Sri Lanka,Australia,0,0,2.0,5.0,0,2,2,298,0,10
1994,65634,Sydney Cricket Ground,0.3,Sri Lanka,Australia,0,0,0.0,5.0,0,3,3,297,0,10
1995,65634,Sydney Cricket Ground,0.4,Sri Lanka,Australia,0,0,0.0,5.0,0,4,4,296,0,10
1996,65634,Sydney Cricket Ground,0.5,Sri Lanka,Australia,0,0,2.0,7.0,0,5,5,295,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1419431,1339623,"National Stadium, Karachi",48.5,New Zealand,Pakistan,0,0,1.0,301.0,48,5,293,7,0,2
1419432,1339623,"National Stadium, Karachi",48.6,New Zealand,Pakistan,0,0,1.0,302.0,48,6,294,6,0,2
1419433,1339623,"National Stadium, Karachi",49.1,New Zealand,Pakistan,1,0,0.0,302.0,49,1,295,5,1,1
1419434,1339623,"National Stadium, Karachi",49.2,New Zealand,Pakistan,0,0,2.0,304.0,49,2,296,4,0,1
1419435,1339623,"National Stadium, Karachi",49.3,New Zealand,Pakistan,1,0,0.0,304.0,49,3,297,3,1,0

In [29]:
data.drop(columns=['wicket_type',
                  'other_wicket_type',
                  'wicket'
                  ], inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\3998989685.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=['wicket_type',

In [30]:
data

,match_id,venue,ball,batting_team,bowling_team,runs,cur_score,over,ball_no,balls_bowled,balls_left,wickets_left
1992,65634,Sydney Cricket Ground,0.1,Sri Lanka,Australia,3.0,3.0,0,1,1,299,10
1993,65634,Sydney Cricket Ground,0.2,Sri Lanka,Australia,2.0,5.0,0,2,2,298,10
1994,65634,Sydney Cricket Ground,0.3,Sri Lanka,Australia,0.0,5.0,0,3,3,297,10
1995,65634,Sydney Cricket Ground,0.4,Sri Lanka,Australia,0.0,5.0,0,4,4,296,10
1996,65634,Sydney Cricket Ground,0.5,Sri Lanka,Australia,2.0,7.0,0,5,5,295,10
...,...,...,...,...,...,...,...,...,...,...,...,...
1419431,1339623,"National Stadium, Karachi",48.5,New Zealand,Pakistan,1.0,301.0,48,5,293,7,2
1419432,1339623,"National Stadium, Karachi",48.6,New Zealand,Pakistan,1.0,302.0,48,6,294,6,2
1419433,1339623,"National Stadium, Karachi",49.1,New Zealand,Pakistan,0.0,302.0,49,1,295,5,1
1419434,1339623,"National Stadium, Karachi",49.2,New Zealand,Pakistan,2.0,304.0,49,2,296,4,1
1419435,1339623,"National Stadium, Karachi",49.3,New Zealand,Pakistan,0.0,304.0,49,3,297,3,0

In [31]:
data['crr'] = (data['cur_score']*6)/data['balls_bowled']
data

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\2973278751.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['crr'] = (data['cur_score']*6)/data['balls_bowled']

,match_id,venue,ball,batting_team,bowling_team,runs,cur_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr
1992,65634,Sydney Cricket Ground,0.1,Sri Lanka,Australia,3.0,3.0,0,1,1,299,10,18.000000
1993,65634,Sydney Cricket Ground,0.2,Sri Lanka,Australia,2.0,5.0,0,2,2,298,10,15.000000
1994,65634,Sydney Cricket Ground,0.3,Sri Lanka,Australia,0.0,5.0,0,3,3,297,10,10.000000
1995,65634,Sydney Cricket Ground,0.4,Sri Lanka,Australia,0.0,5.0,0,4,4,296,10,7.500000
1996,65634,Sydney Cricket Ground,0.5,Sri Lanka,Australia,2.0,7.0,0,5,5,295,10,8.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1419431,1339623,"National Stadium, Karachi",48.5,New Zealand,Pakistan,1.0,301.0,48,5,293,7,2,6.163823
1419432,1339623,"National Stadium, Karachi",48.6,New Zealand,Pakistan,1.0,302.0,48,6,294,6,2,6.163265
1419433,1339623,"National Stadium, Karachi",49.1,New Zealand,Pakistan,0.0,302.0,49,1,295,5,1,6.142373
1419434,1339623,"National Stadium, Karachi",49.2,New Zealand,Pakistan,2.0,304.0,49,2,296,4,1,6.162162
1419435,1339623,"National Stadium, Karachi",49.3,New Zealand,Pakistan,0.0,304.0,49,3,297,3,0,6.141414

In [33]:
groups = data.groupby('match_id')

match_ids = data['match_id'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs'].values.tolist())

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\92686594.py:6: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['batting_team', 'bowling_team', 'venue'], dtype='object')
  last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs'].values.tolist())

In [34]:
last_five

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 35.0,
 33.0,
 34.0,
 34.0,
 34.0,
 32.0,
 32.0,
 36.0,
 36.0,
 26.0,
 26.0,
 26.0,
 24.0,
 24.0,
 24.0,
 24.0,
 18.0,
 19.0,
 19.0,
 19.0,
 20.0,
 20.0,
 18.0,
 16.0,
 16.0,
 16.0,
 16.0,
 19.0,
 17.0,
 19.0,
 21.0,
 24.0,
 21.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 24.0,
 24.0,
 24.0,
 26.0,
 25.0,
 27.0,
 27.0,
 26.0,
 26.0,
 25.0,
 25.0,
 27.0,
 29.0,
 30.0,
 32.0,
 32.0,
 34.0,
 34.0,
 40.0,
 40.0,
 40.0,
 42.0,
 40.0,
 36.0,
 37.0,
 35.0,
 37.0,
 37.0,
 37.0,
 33.0,
 34.0,
 35.0,
 39.0,
 37.0,
 37.0,
 36.0,
 37.0,
 39.0,
 40.0,
 41.0,
 45.0,
 44.0,
 40.0,
 40.0,
 44.0,
 46.0,
 46.0,
 46.0,
 41.0,
 37.0,
 41.0,
 37.0,
 39.0,
 40.0,
 40.0,
 41.0,
 40.0,
 40.0,
 41.0,
 42.0,
 41.0,
 44.0,
 40.0,
 46.0,
 46.0,
 46.0,
 46.0,
 46.0,
 46.0,
 47.0,
 44.0,
 46.0,
 46.0,
 46.0,
 42.0,
 40.0,
 38.0,
 39.0,
 42.0,
 44.0,
 41.0,
 42.0,
 40.0,
 39.0,
 39.0,
 38.0,
 38.0,
 39.0,
 39.0,
 48.0,
 48.0,
 44.0,
 45.0,
 39.0,
 39.0,
 38.0,
 39.0,
 38.0,
 38.0,
 37.0,
 36.0,
 37.0,
 37.0,
 38.0,
 37.0,
 38.0,
 39.0,
 38.0,
 35.0,
 35.0,
 35.0,
 38.0,
 39.0,
 41.0,
 41.0,
 42.0,
 45.0,
 50.0,
 53.0,
 44.0,
 43.0,
 47.0,
 47.0,
 48.0,
 48.0,
 48.0,
 52.0,
 52.0,
 53.0,
 54.0,
 54.0,
 56.0,
 56.0,
 55.0,
 55.0,
 54.0,
 54.0,
 55.0,
 55.0,
 54.0,
 53.0,
 50.0,
 51.0,
 50.0,
 51.0,
 50.0,
 46.0,
 44.0,
 41.0,
 40.0,
 41.0,
 38.0,
 38.0,
 37.0,
 37.0,
 38.0,
 33.0,
 34.0,
 32.0,
 31.0,
 31.0,
 27.0,
 28.0,
 27.0,
 28.0,
 29.0,
 31.0,
 34.0,
 35.0,
 36.0,
 37.0,
 36.0,
 35.0,
 36.0,
 36.0,
 37.0,
 37.0,
 33.0,
 32.0,
 36.0,
 36.0,
 35.0,
 35.0,
 36.0,
 37.0,
 37.0,
 36.0,
 35.0,
 35.0,
 38.0,
 38.0,
 37.0,
 37.0,
 38.0,
 36.0,
 35.0,
 32.0,
 28.0,
 26.0,
 25.0,
 24.0,
 24.0,
 23.0,
 21.0,
 21.0,
 21.0,
 23.0,
 23.0,
 24.0,
 21.0,
 21.0,
 22.0,
 23.0,
 23.0,
 23.0,
 23.0,
 24.0,
 23.0,
 24.0,
 20.0,
 21.0,
 21.0,
 23.0,
 22.0,
 24.0,
 24.0,
 27.0,
 31.0,
 32.0,
 32.0,
 33.0,
 34.0,
 34.0,
 35.0,
 36.0,
 39.0,
 39.0,
 39.0,
 40.0,
 39.0,
 39.0,
 38.0,
 37.0,
 37.0,
 37.0,
 37.0,
 37.0,
 37.0,
 37.0,
 38.0,
 41.0,
 42.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 21.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 23.0,
 26.0,
 26.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 19.0,
 22.0,
 24.0,
 24.0,
 25.0,
 21.0,
 21.0,
 22.0,
 18.0,
 20.0,
 22.0,
 22.0,
 22.0,
 22.0,
 22.0,
 24.0,
 28.0,
 28.0,
 32.0,
 28.0,
 24.0,
 25.0,
 27.0,
 27.0,
 27.0,
 30.0,
 36.0,
 38.0,
 40.0,
 42.0,
 41.0,
 38.0,
 38.0,
 38.0,
 39.0,
 39.0,
 39.0,
 38.0,
 40.0,
 38.0,
 36.0,
 40.0,
 40.0,
 38.0,
 39.0,
 37.0,
 33.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 34.0,
 36.0,
 36.0,
 33.0,
 27.0,
 25.0,
 25.0,
 24.0,
 24.0,
 24.0,
 22.0,
 23.0,
 25.0,
 25.0,
 29.0,
 30.0,
 29.0,
 33.0,
 34.0,
 31.0,
 31.0,
 31.0,
 31.0,
 33.0,
 35.0,
 32.0,
 30.0,
 32.0,
 33.0,
 33.0,
 37.0,
 35.0,
 35.0,
 36.0,
 37.0,
 37.0,
 36.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 33.0,
 34.0,
 30.0,
 30.0,
 29.0,
 29.0,
 29.0,
 28.0,
 28.0,
 32.0,
 35.0,
 37.0,
 35.0,
 34.0,
 33.0,
 31.0,
 31.0,
 31.0,
 28.0,
 29.0,
 29.0,
 32.0,
 31.0,
 32.0,
 32.0,
 32.0,
 31.0,
 31.0,
 35.0,
 36.0,
 37.0,
 36.0,
 37.0,
 39.0,
 39.0,
 35.0,
 34.0,
 34.0,
 36.0,
 36.0,
 34.0,
 32.0,
 32.0,
 32.0,
 31.0,
 32.0,
 32.0,
 34.0,
 33.0,
 32.0,
 32.0,
 32.0,
 33.0,
 33.0,
 35.0,
 35.0,
 35.0,
 35.0,
 31.0,
 33.0,
 32.0,
 32.0,
 33.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 28.0,
 27.0,
 29.0,
 29.0,
 29.0,
 29.0,
 28.0,
 26.0,
 27.0,
 28.0,
 28.0,
 25.0,
 26.0,
 25.0,
 24.0,
 24.0,
 25.0,
 27.0,
 27.0,
 23.0,
 23.0,
 25.0,
 24.0,
 26.0,
 28.0,
 29.0,
 30.0,
 30.0,
 28.0,
 24.0,
 25.0,
 25.0,
 23.0,
 23.0,
 24.0,
 23.0,
 23.0,
 26.0,
 27.0,
 26.0,
 26.0,
 26.0,
 24.0,
 26.0,
 24.0,
 23.0,
 22.0,
 21.0,
 21.0,
 22.0,
 23.0,
 22.0,
 22.0,
 20.0,
 18.0,
 18.0,
 18.0,
 20.0,
 24.0,
 24.0,
 23.0,
 26.0,
 27.0,
 28.0,
 28.0,
 28.0,
 28.0,
 29.0,
 28.0,
 28.0,
 32.0,
 31.0,
 35.0,
 33.0,
 33.0,
 37.0,
 37.0,
 38.0,
 38.0,
 39.0,
 39.0,
 39.0,
 40.0,
 41.0,
 41.0,
 41.0,
 40.0,
 38.0,
 34.0,
 34.0,
 36.0,
 32.0,
 34.0,
 33.0,
 34.0,
 35.0,
 35.0,
 32.0,
 33.0,
 34.0,
 30.0,
 31.0,
 27.0,
 28.0,
 30.0,
 27.0,
 29.0,
 29.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 27.0,
 30.0,
 30.0,
 28.0,
 29.0,
 30.0,
 29.0,
 27.0,
 23.0,
 21.0,
 25.0,
 25.0,
 25.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 21.0,
 22.0,
 23.0,
 27.0,
 27.0,
 25.0,
 23.0,
 27.0,
 29.0,
 30.0,
 29.0,
 31.0,
 33.0,
 31.0,
 31.0,
 31.0,
 30.0,
 30.0,
 30.0,
 30.0,
 31.0,
 32.0,
 29.0,
 31.0,
 31.0,
 32.0,
 32.0,
 33.0,
 36.0,
 36.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 35.0,
 33.0,
 29.0,
 28.0,
 31.0,
 32.0,
 30.0,
 32.0,
 32.0,
 32.0,
 34.0,
 34.0,
 35.0,
 35.0,
 39.0,
 39.0,
 38.0,
 38.0,
 37.0,
 38.0,
 37.0,
 39.0,
 39.0,
 36.0,
 36.0,
 35.0,
 34.0,
 34.0,
 30.0,
 29.0,
 30.0,
 30.0,
 31.0,
 30.0,
 26.0,
 26.0,
 27.0,
 23.0,
 23.0,
 24.0,
 22.0,
 22.0,
 22.0,
 22.0,
 20.0,
 20.0,
 20.0,
 19.0,
 18.0,
 17.0,
 17.0,
 15.0,
 15.0,
 14.0,
 14.0,
 16.0,
 17.0,
 16.0,
 17.0,
 17.0,
 18.0,
 19.0,
 18.0,
 20.0,
 20.0,
 19.0,
 20.0,
 20.0,
 19.0,
 18.0,
 18.0,
 19.0,
 17.0,
 17.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 17.0,
 18.0,
 19.0,
 19.0,
 21.0,
 21.0,
 20.0,
 20.0,
 20.0,
 19.0,
 19.0,
 18.0,
 18.0,
 20.0,
 19.0,
 19.0,
 18.0,
 17.0,
 18.0,
 20.0,
 21.0,
 22.0,
 22.0,
 23.0,
 24.0,
 24.0,
 24.0,
 24.0,
 25.0,
 25.0,
 25.0,
 24.0,
 24.0,
 23.0,
 21.0,
 21.0,
 21.0,
 20.0,
 21.0,
 22.0,
 22.0,
 27.0,
 26.0,
 24.0,
 23.0,
 23.0,
 23.0,
 23.0,
 22.0,
 21.0,
 21.0,
 21.0,
 20.0,
 19.0,
 18.0,
 19.0,
 19.0,
 22.0,
 21.0,
 22.0,
 22.0,
 22.0,
 22.0,
 23.0,
 24.0,
 25.0,
 25.0,
 26.0,
 26.0,
 27.0,
 27.0,
 22.0,
 22.0,
 22.0,
 24.0,
 24.0,
 24.0,
 24.0,
 26.0,
 26.0,
 26.0,
 26.0,
 27.0,
 29.0,
 32.0,
 31.0,
 30.0,
 31.0,
 31.0,
 32.0,
 31.0,
 31.0,
 31.0,
 30.0,
 30.0,
 29.0,
 28.0,
 27.0,
 26.0,
 28.0,
 28.0,
 28.0,
 29.0,
 30.0,
 28.0,
 28.0,
 29.0,
 30.0,
 32.0,
 32.0,
 33.0,
 33.0,
 34.0,
 33.0,
 30.0,
 29.0,
 30.0,
 28.0,
 30.0,
 28.0,
 30.0,
 30.0,
 29.0,
 30.0,
 29.0,
 32.0,
 33.0,
 35.0,
 35.0,
 39.0,
 40.0,
 45.0,
 44.0,
 45.0,
 49.0,
 53.0,
 54.0,
 52.0,
 48.0,
 49.0,
 48.0,
 49.0,
 51.0,
 52.0,
 54.0,
 55.0,
 54.0,
 53.0,
 53.0,
 55.0,
 55.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 16.0,
 20.0,
 19.0,
 23.0,
 23.0,
 22.0,
 22.0,
 21.0,
 23.0,
 24.0,
 26.0,
 26.0,
 27.0,
 27.0,
 31.0,
 31.0,
 29.0,
 25.0,
 26.0,
 27.0,
 26.0,
 ...]

In [35]:
data['last_five'] = last_five
data

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\142541684.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['last_five'] = last_five

,match_id,venue,ball,batting_team,bowling_team,runs,cur_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr,last_five
1992,65634,Sydney Cricket Ground,0.1,Sri Lanka,Australia,3.0,3.0,0,1,1,299,10,18.000000,NaN
1993,65634,Sydney Cricket Ground,0.2,Sri Lanka,Australia,2.0,5.0,0,2,2,298,10,15.000000,NaN
1994,65634,Sydney Cricket Ground,0.3,Sri Lanka,Australia,0.0,5.0,0,3,3,297,10,10.000000,NaN
1995,65634,Sydney Cricket Ground,0.4,Sri Lanka,Australia,0.0,5.0,0,4,4,296,10,7.500000,NaN
1996,65634,Sydney Cricket Ground,0.5,Sri Lanka,Australia,2.0,7.0,0,5,5,295,10,8.400000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1419431,1339623,"National Stadium, Karachi",48.5,New Zealand,Pakistan,1.0,301.0,48,5,293,7,2,6.163823,42.0
1419432,1339623,"National Stadium, Karachi",48.6,New Zealand,Pakistan,1.0,302.0,48,6,294,6,2,6.163265,43.0
1419433,1339623,"National Stadium, Karachi",49.1,New Zealand,Pakistan,0.0,302.0,49,1,295,5,1,6.142373,39.0
1419434,1339623,"National Stadium, Karachi",49.2,New Zealand,Pakistan,2.0,304.0,49,2,296,4,1,6.162162,40.0
1419435,1339623,"National Stadium, Karachi",49.3,New Zealand,Pakistan,0.0,304.0,49,3,297,3,0,6.141414,36.0

In [39]:
final_data = data.groupby('match_id').sum()['runs'].reset_index().merge(data, on='match_id')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\3542334954.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  final_data = data.groupby('match_id').sum()['runs'].reset_index().merge(data, on='match_id')

In [43]:
final_df = final_data[['batting_team','bowling_team','venue','cur_score','balls_left','wickets_left','crr','last_five','runs_x']]

In [44]:
final_df.dropna(inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24568\2709626079.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.dropna(inplace=True)

In [46]:
final_df.isnull().sum()

batting_team    0
bowling_team    0
venue           0
cur_score       0
balls_left      0
wickets_left    0
crr             0
last_five       0
runs_x          0
dtype: int64

In [47]:
final_df = final_df.sample(final_df.shape[0])

In [48]:
final_df.sample(2)

,batting_team,bowling_team,venue,cur_score,balls_left,wickets_left,crr,last_five,runs_x
181458,Bangladesh,West Indies,Shere Bangla National Stadium,49.0,236,10,4.593750,29.0,253.0
219959,Australia,Pakistan,Sharjah Cricket Stadium,201.0,59,6,5.004149,28.0,267.0

In [49]:
X = final_df.drop(columns=['runs_x'])
y = final_df['runs_x']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [50]:
X_train

,batting_team,bowling_team,venue,cur_score,balls_left,wickets_left,crr,last_five
169601,New Zealand,England,The Rose Bowl,372.0,0,7,7.440000,79.0
211428,England,India,Edgbaston,176.0,60,4,4.400000,42.0
74572,Sri Lanka,West Indies,"Queen's Park Oval, Port of Spain",80.0,174,9,3.809524,13.0
300958,New Zealand,Pakistan,Sharjah Cricket Stadium,160.0,116,7,5.217391,22.0
21141,South Africa,New Zealand,Kingsmead,87.0,183,8,4.461538,25.0
...,...,...,...,...,...,...,...,...
244939,India,Australia,"Brisbane Cricket Ground, Woolloongabba",120.0,165,9,5.333333,32.0
354424,Australia,England,Melbourne Cricket Ground,28.0,272,10,6.000000,28.0
196430,South Africa,India,Kingsmead,259.0,20,5,5.550000,30.0
213787,Bangladesh,New Zealand,Shere Bangla National Stadium,38.0,237,7,3.619048,11.0
50109,West Indies,Australia,Brabourne Stadium,104.0,188,5,5.571429,12.0

In [52]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [56]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','venue'])
]
,remainder='passthrough')

In [57]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [58]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

C:\Users\ASUS\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.9887494784947118
2.8943572870207506

In [60]:
import pickle
pickle.dump(pipe,open('Score_Predictor.pkl','wb'))

In [61]:
eligible_venue

['Shere Bangla National Stadium',
 'Rangiri Dambulla International Stadium',
 'R Premadasa Stadium',
 'Sydney Cricket Ground',
 'County Ground',
 'Kennington Oval',
 'Melbourne Cricket Ground',
 'Sheikh Zayed Stadium',
 "Lord's",
 'SuperSport Park',
 'Adelaide Oval',
 'Pallekele International Cricket Stadium',
 'Edgbaston',
 'Dubai International Cricket Stadium',
 'Sharjah Cricket Stadium',
 'Eden Park',
 'Brisbane Cricket Ground, Woolloongabba',
 'Western Australia Cricket Association Ground',
 'The Rose Bowl',
 'Kingsmead',
 'Trent Bridge',
 'Sophia Gardens',
 'Seddon Park',
 'Old Trafford',
 'Newlands',
 "St George's Park",
 'New Wanderers Stadium',
 'Headingley',
 'Senwes Park',
 'Westpac Stadium',
 'Sir Vivian Richards Stadium, North Sound',
 'National Stadium',
 'Providence Stadium',
 'McLean Park',
 "Queen's Park Oval, Port of Spain",
 'Brabourne Stadium',
 'Mahinda Rajapaksa International Cricket Stadium, Sooriyawewa',
 'Bay Oval',
 'Kensington Oval, Bridgetown',
 'Bellerive Oval',
 'Riverside Ground',
 'Gaddafi Stadium',
 'Sabina Park, Kingston',
 'Warner Park, Basseterre',
 'Hagley Oval',
 'Punjab Cricket Association Stadium, Mohali',
 'Grace Road',
 'Kinrara Academy Oval',
 'Beausejour Stadium, Gros Islet',
 'Wankhede Stadium',
 'Sinhalese Sports Club Ground',
 'MA Chidambaram Stadium, Chepauk',
 'Shere Bangla National Stadium, Mirpur',
 'National Stadium, Karachi',
 'University Oval']

In [62]:
teams

['New Zealand',
 'India',
 'Sri Lanka',
 'Australia',
 'England',
 'West Indies',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'Afghanistan']

In [63]:
with open('Score_Predictor.pkl', 'rb') as f:
    model = pickle.load(f)